body, html{
  height:100%;
}
body{
  background-image: url('./images/pool.jpg');
  margin: 0px;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancer{
  position:absolute;
  background-size:     cover;                    
  background-repeat:   no-repeat;
  background-position: center center;
}
.dancer-red{
  height: 160px;
  width: 120px;
  background-image: url('./images/polarbear.gif')
}
.dancer-blue{
  width: 180px;
  height: 273px;
  background-image: url('./images/bear.gif')
}

.dancer-random{
  position:absolute;
}
